<!DOCTYPE html>
<html lang="en" class="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if not metaTitle %}
    {% set metaTitle = (title + " - " + site.title) if title else site.title + " - " + site.subtitle %}
  {% endif %}
  {% set metaDescription = description or site.subtitle %}
  {% set metaImage = socialImage %}
  {% include "partials/meta.njk" %}
  <meta name="theme-color" content="hsl(31, 92%, 62%)">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/assets/scss/main.css">
  <script>{{ theme_js | safe }}</script>
</head>
<body>
  <div class="layout">
    {{ content | safe }}
  </div>
</body>
</html>
