@forward "components/layout";
@forward "components/page";
@forward "components/feed";
@forward "components/pagination";
@forward "components/post";
@forward "components/post-meta";
@forward "components/post-author";
@forward "components/post-content";
@forward "components/post-tags";
@forward "components/sidebar";
@forward "components/sidebar-author";
@forward "components/sidebar-menu";
@forward "components/sidebar-contacts";
@forward "components/sidebar-copyright";
@forward "components/button";
@forward "components/icon";
@forward "components/theme-switcher";
