@use "src/assets/scss/variables" as *;
@use "src/assets/scss/mixins" as *;

.tags {
  @include margin-bottom(0.5);

  .list {
    list-style: none;
    @include padding-equal(0);

    .item {
      display: inline-block;
      @include margin(0.25, 0);

      @include breakpoint-sm {
        &:first-child {
          @include margin-left(0);
          @include padding-left(0);
        }
      }
    }
  }
}
