---
layout: base.njk
permalink: /404.html
metaTitle: "Not Found"
---
{% include "partials/sidebar.njk" %}

<div class="page">
  <div class="inner">
    <h1 class="title">Not Found</h1>
    <div class="body">
      <p>The page you're looking for doesn't exist.</p>
    </div>
  </div>
</div>
