---
permalink: /manifest.json
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.title }}",
  "short_name": "{{ site.title }}",
  "theme_color": "hsl(31, 92%, 62%)",
  "background_color": "hsl(0, 0%, 100%)",
  "display": "standalone",
  "start_url": "/",
  "icons": [
    {
      "src": "/osmosis-logo-square.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ]
}
