---
layout: base.njk
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: "/tag/{{ tagPage.slug }}/{% if tagPage.pageNumber > 0 %}page/{{ tagPage.pageNumber }}/{% endif %}"
eleventyComputed:
  metaTitle: "{% if tagPage.pageNumber > 0 %}{{ tagPage.name }} - Page {{ tagPage.pageNumber }} - {{ site.title }}{% else %}{{ tagPage.name }} - {{ site.title }}{% endif %}"
---
{% include "partials/sidebar.njk" %}

<div class="page">
  <div class="inner">
    <h1 class="title">{{ tagPage.name }}</h1>
    <div class="body">
      {% set posts = tagPage.posts %}
      {% include "partials/feed.njk" %}
      {% set pagination = tagPage %}
      {% include "partials/pagination.njk" %}
    </div>
  </div>
</div>
