---
layout: base.njk
permalink: /tags/
eleventyComputed:
  metaTitle: "Tags - {{ site.title }}"
---
{% include "partials/sidebar.njk" %}

<div class="page">
  <div class="inner">
    <h1 class="title">Tags</h1>
    <div class="body">
      <ul>
        {% for tag in collections.tagsList %}
        <li>
          <a href="/tag/{{ tag.slug }}/">
            {{ tag.name }} ({{ tag.count }})
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
