<title>{{ metaTitle }}</title>
<meta name="description" content="{{ metaDescription }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ metaTitle }}">
<meta name="twitter:description" content="{{ metaDescription }}">
<meta property="og:title" content="{{ metaTitle }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ metaDescription }}">
{% if metaImage %}
<meta name="image" content="{{ metaImage }}">
<meta property="og:image" content="{{ metaImage }}">
<meta name="twitter:image" content="{{ metaImage }}">
{% endif %}
