<div class="pagination">
  <div class="previous">
    {% if pagination.href.previous %}
    <a rel="prev" class="previous-link" href="{{ pagination.href.previous }}">
      ← PREV
    </a>
    {% else %}
    <a class="previous-link disable" href="/">
      ← PREV
    </a>
    {% endif %}
  </div>
  <div class="next">
    {% if pagination.href.next %}
    <a rel="next" class="next-link" href="{{ pagination.href.next }}">
      NEXT →
    </a>
    {% else %}
    <a class="next-link disable" href="/">
      NEXT →
    </a>
    {% endif %}
  </div>
</div>
